<main class="text-center max-w-full m-6 mt-16 pt-16">




  <section>
    <div class="flex flex-col justify-center items-center bg-cover bg-center bg-no-repeat rounded-xl m-4 lg:m-12 p-4 lg:p-12" style="background-image: url('src/assets/hero-landingpage.jpg')">
      <h1 class="text-4xl md:text-5xl lg:text-6xl font-bold text-slate-100 justify-center items-center flex text-center m-4 p-8">The AI Starter Kits Experience</h1>
      
      <div class="flex flex-wrap justify-center gap-8 md:gap-12 lg:gap-16">
        <div class="bg-white text-gray-700 rounded-xl p-8 m-8 shadow-md w-full md:w-1/2 lg:w-1/3">
          <h2 class="font-bold text-2xl md:text-3xl lg:text-4xl text-gray-700 mb-4 text-center">LEARN </h2>
          <p class="font-normal text-lg md:text-xl lg:text-2xl text-gray-700 text-center">Validated methodologies for different industrial use cases, based on years of research and experience, bundled in a ready-to-use AI Starter Kit</p>
        </div>
        
        <div class="bg-white text-gray-700 rounded-xl p-8 m-8 shadow-md w-full md:w-1/2 lg:w-1/3">
          <h2 class="font-bold text-2xl md:text-3xl lg:text-4xl text-gray-700 mb-4 text-center">EXPERIMENT</h2>
          <p class="font-normal text-lg md:text-xl lg:text-2xl text-gray-700 text-center">Get familiar with the different steps in our AI methodology in an interactive notebook</p>
        </div>
        
        <div class="bg-white text-gray-700 rounded-xl p-8 m-8 shadow-md w-full md:w-1/2 lg:w-1/3">
          <h2 class="font-bold text-2xl md:text-3xl lg:text-4xl text-gray-700 mb-4 text-center">INNOVATE</h2>
          <p class="font-normal text-lg md:text-xl lg:text-2xl text-gray-700 text-center">Hands-on training and individual expert support to arrive at a tailored AI innovation roadmap for your own company context</p>
        </div>
      </div>
      
      <a href="skits" class="text-white bg-gradient-to-br from-purple-500 to-blue-400 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-3xl text-lg px-12 py-4 w-auto text-center">Explore the options</a>
    </div>
  </section>
  
  



<h1 class="text-5xl font-bold text-gray-700 flex m-4 p-8 justify-center">Our Approach</h1>

<section class=" flex flex-col mx-auto">   


<div class="shadow-xl card flex flex-col lg:flex-row flex-grow rounded-lg bg-white text-gray-700 m-4 lg:m-12 p-4 lg:p-12 transition-transform duration-700 transform hover:scale-105">
    <div class="flex m-0 overflow-hidden rounded-xl lg:w-1/3 lg:order-first">
        <img class="h-auto w-full shadow-xl object-cover" src="src/assets/b-objective.jpg" alt="card-image"/>
    </div>
    <div class="p-6 w-full lg:w-2/3">
        <h4 class="m-2 lg:m-6 block mb-2 font-sans text-2xl lg:text-4xl antialiased font-semibold leading-snug tracking-normal text-blue-gray-900 underline">
            Business Objectives
        </h4>
        <p class="m-2 lg:m-6 block font-sans antialiased font-normal leading-relaxed text-gray-700 text-xl lg:text-3xl">
            Concretely, the Starter Kits are self-contained collections of autodidactic material, providing a description of a specific data innovation topic in terms of its business goal, data-related requirements & challenges, relevant data science tasks, etc.
        </p>
        <a href="/elucidata/community" class="inline-block">
            <button class="m-2 lg:m-6 bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl text-white flex items-center gap-2 px-6 py-3 font-sans text-base lg:text-xs font-bold text-center text-gray-900 uppercase align-middle transition-all rounded-lg select-none disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none hover:bg-gray-900/10 active:bg-gray-900/20" type="button">
                Learn more
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" class="w-4 h-4">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3"></path>
                </svg>
            </button>
        </a>
    </div>
</div>
     

<div class="shadow-xl card flex flex-col lg:flex-row flex-grow rounded-lg bg-white text-gray-700 m-4 lg:m-12 p-4 lg:p-12 transition-transform duration-700 transform hover:scale-105">
  <div class="p-6 w-full lg:w-2/3">
      <h4 class="m-2 lg:m-6 block mb-2 font-sans text-2xl lg:text-4xl antialiased font-semibold leading-snug tracking-normal text-blue-gray-900 underline">
          Data exploration
      </h4>
      <p class="m-2 lg:m-6 block font-sans antialiased font-normal leading-relaxed text-gray-700 text-xl lg:text-3xl">
          Join the interactive experience where you can play with model parameters and visualization settings and explore all possible angles.
      </p>
      <a href="skits" class="inline-block">
          <button class="m-2 lg:m-6 bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl text-white flex items-center gap-2 px-6 py-3 font-sans text-base lg:text-xs font-bold text-center text-gray-900 uppercase align-middle transition-all rounded-lg select-none disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none hover:bg-gray-900/10 active:bg-gray-900/20" type="button">
              Explore
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" class="w-4 h-4">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3"></path>
              </svg>
          </button>
      </a>
  </div>
  <div class="flex m-0 overflow-hidden rounded-xl lg:w-1/3 lg:order-last">
      <img class="h-auto w-full shadow-xl" src="src/assets/data-exploration.png" alt="card-image"/>
  </div>
</div>
</section>



<h1 class="text-5xl font-bold text-gray-700 flex m-4 p-4 justify-center">Your Tailormade Path</h1>

<section class="flex flex-col md:flex-row justify-center p-8 m-auto max-w-5xl">
  <div class="transition-transform duration-700 transform hover:scale-105 bg-clip-border rounded-xl bg-white text-gray-700 shadow-2xl m-4 flex flex-col justify-between flex-grow w-full md:w-1/2 p-4 md:p-0">
    <div class="relative overflow-hidden text-gray-700 bg-white bg-clip-border rounded-xl aspect-w-16 aspect-h-9">
      <img src="src/assets/algorithm-selection.png" alt="card-image" class="w-full h-full object-cover" />
    </div>
    <div class="p-6">
      <h4 class="block mb-2 font-sans text-lg md:text-4xl antialiased font-semibold leading-snug tracking-normal text-blue-gray-900 underline">
        Algorithm Selection
      </h4>
      <p class="block mb-8 font-sans text-base md:text-3xl antialiased font-normal leading-relaxed text-gray-700">
        Validated methodologies for different industrial use cases, based on years of research and experience, bundled in a ready-to-use AI Starter Kit.
      </p>
      <a href="skits" class="inline-block">
        <button class="m-2 lg:m-6 bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl text-white flex items-center gap-2 px-6 py-3 font-sans text-base lg:text-xs font-bold text-center text-gray-900 uppercase align-middle transition-all rounded-lg select-none disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none hover:bg-gray-900/10 active:bg-gray-900/20" type="button">
          Learn more
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" class="w-4 h-4">
            <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3"></path>
          </svg>
        </button>
      </a>
    </div>
  </div>

  <div class="transition-transform duration-700 transform hover:scale-105 bg-clip-border rounded-xl bg-white text-gray-700 shadow-2xl m-4  flex flex-col justify-between flex-grow w-full md:w-1/2 p-4 md:p-0">
    <div class="relative overflow-hidden text-gray-700 bg-white bg-clip-border aspect-w-16 aspect-h-9 rounded-xl">
      <img src="src/assets/reference-implementation.png" alt="card-image" class="w-full h-full object-cover" />
    </div>
    <div class="p-6">
      <h4 class="block mb-2 font-sans text-lg md:text-4xl antialiased font-semibold leading-snug tracking-normal text-blue-gray-900 underline">
        Reference Implementation
      </h4>
      <p class="block mb-8 font-sans text-base md:text-3xl antialiased font-normal leading-relaxed text-gray-700">
        Hands-on training and individual expert support to arrive at a tailored AI innovation roadmap for your own company context  
      </p>
      <a href="community#advantages" class="inline-block">
        <button class="m-2 lg:m-6 bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl text-white flex items-center gap-2 px-6 py-3 font-sans text-base lg:text-xs font-bold text-center text-gray-900 uppercase align-middle transition-all rounded-lg select-none disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none hover:bg-gray-900/10 active:bg-gray-900/20" type="button">
          Get in touch
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" class="w-4 h-4">
            <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3"></path>
          </svg>
        </button>
      </a>
    </div>
  </div>
</section>



<section>
  <div class="relative isolate overflow-hidden py-8 sm:py-16 lg:py-24">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-12 sm:grid-cols-2 lg:max-w-none lg:grid-cols-2">
        <div class="flex flex-col justify-center items-center lg:items-start">
          <h2 class="text-2xl font-bold tracking-tight text-gray-800 sm:text-3xl">Subscribe to our newsletter</h2>
          <p class="mt-4 text-lg leading-6 text-gray-600 sm:text-base">Get in touch with the intriguing and evolving AI future</p>
          <div class="mt-6 flex flex-col items-center sm:flex-row sm:max-w-md lg:max-w-none lg:items-start">
            <label for="email-address" class="sr-only">Email address</label>
            <input id="email-address" name="email" type="email" autocomplete="email" required class="py-2 w-full sm:w-auto flex-auto rounded-md border border-gray-300 bg-white px-4  text-gray-900 shadow-sm focus:ring-2 focus:ring-indigo-500 focus:outline-none focus:ring-opacity-50" placeholder="Enter your email">
            <button type="submit" class=" sm:mt-0 w-full sm:w-auto px-4 py-2 rounded-md bg-gradient-to-br from-purple-600 to-blue-500 text-white font-semibold shadow-sm hover:bg-gradient-to-bl focus:ring-2 focus:ring-indigo-500 focus:outline-none focus:ring-opacity-50">Subscribe</button>
          </div>
        </div>
        <dl class="grid grid-cols-1 gap-y-8 lg:gap-y-10">
          <div class="flex flex-col justify-center items-center lg:items-start">
            <div class="rounded-full bg-white/5 p-2 ring-1 ring-white/10">
              <svg class="h-8 w-8 text-gray-800" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5m-18 0h.008m0 0a1.575 1.575 0 003.142.007M12 15h.008m0 0a1.575 1.575 0 003.142.008M12 17.25h.008m0 0a1.575 1.575 0 003.142.007M9.75 15h.008m0 0a1.575 1.575 0 003.142.008M9.75 17.25h.008m0 0a1.575 1.575 0 003.142.007M7.5 15h.008m0 0a1.575 1.575 0 003.142.008M7.5 17.25h.008m0 0a1.575 1.575 0 003.142.007M15.75 15h.008m0 0a1.575 1.575 0 003.142.008M15.75 17.25h.008m0 0a1.575 1.575 0 003.142.007M18 15h.008m0 0a1.575 1.575 0 003.142.008M18 17.25h.008m0 0a1.575 1.575 0 003.142.007" />
              </svg>
            </div>
            <dt class="mt-4 font-semibold text-gray-800 text-center lg:text-left text-3xl">Weekly articles</dt>
            <dd class="mt-2 leading-6 text-gray-600 text-center lg:text-left text-lg">Get up to date with our projects and read our weekly articles about the EluciDATA environment.</dd>
          </div>
          <div class="flex flex-col justify-center items-center lg:items-start">
            <div class="rounded-full bg-white/5 p-2 ring-1 ring-white/10">
              <svg class="h-8 w-8 text-gray-800" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M10.05 4.575a1.575 1.575 0 10-3.15 0v3m3.15-3v-1.5a1.575 1.575 0 013.15 0v1.5m-3.15 0l.075 5.925m3.075.75V4.575m0 0a1.575 1.575 0 013.15 0V15M6.9 7.575a1.575 1.575 0 10-3.15 0v8.175a6.75 6.75 0 006.75 6.75h2.018a5.25 5.25 0 003.712-1.538l1.732-1.732a5.25 5.25 0 001.538-3.712l.003-2.024a.668.668 0 01.198-.471 1.575 1.575 0 10-2.228-2.228 3.818 3.818 0 00-1.12 2.687M6.9 7.575V12m6.27 4.318A4.49 4.49 0 0116.35 15m.002 0h-.002" />
              </svg>
            </div>
            <dt class="mt-4 font-semibold text-gray-800 text-center lg:text-left text-3xl">No spam</dt>
            <dd class="mt-2 leading-6 text-gray-600 text-center lg:text-left text-lg">Only get the most important information from EluciDATA to prevent daily spam mails, unsubscribe any time via any mail</dd>
          </div>
        </dl>
      </div>
    </div>
  </div>
</section>



</main>