<button id="backToTopBtn" class="fixed bottom-4 right-4 lg:block focus:outline-none rounded-full flex items-center justify-center shadow-md hover:shadow-lg transition duration-300 ease-in-out bg-slate-200  ">
  <img src="src/assets/back-to-top.svg" alt="Back to Top" class="h-14 ">
</button>

  <script>
    const backToTopBtn = document.getElementById('backToTopBtn');

window.addEventListener('scroll', () => {
  const scrollPosition = window.scrollY || window.pageYOffset;
  const windowHeight = window.innerHeight;
  const bodyHeight = document.documentElement.scrollHeight;

  const showBtn = (bodyHeight - windowHeight) <= scrollPosition;

  if (showBtn) {
    backToTopBtn.classList.remove('hidden');
  } else {
    backToTopBtn.classList.add('hidden');
  }
});

backToTopBtn.addEventListener('click', () => {
  window.scrollTo({ top: 0, behavior: 'smooth' });
});
  </script>