
<main class="mt-16 lg:px-30 xl:px-48">
    <section class="header-and-searchbar">
        <div class="flex flex-col items-center">
            <h1 class="text-5xl font-bold text-gray-700 m-4 pt-16 text-center">Try out our starter kits</h1>
            <hr class="h-1 my-8 bg-gray-500 border-0 w-3/4">
        </div>
    </section>

    <section class="flex flex-col md:flex-row p-8">
        <div class="md:w-1/4 p-4">
            <h2 class="mb-4 font-bold text-3xl text-gray-700">Starter kits list</h2>
            <ul class="list-disc pl-4 mb-8 text-2xl">
                {% assign skits_posts = site.posts | where: "layout", "skits" | sort: 'date' %}
                {% for skit in skits_posts %}
                    <li class="mb-2">
                        <a href="#{{ skit.title }}" class="text-blue-500 hover:underline">{{ skit.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="md:w-3/4 p-4 lg:px-4">
            {% for post in skits_posts %}
            <article class="mb-16 flex flex-col space-y-4 px-8 bg-slate-50 rounded-lg mt-16 p-8" id="{{ post.title }}">
                <header class="mb-4">
                    <h2 class="text-3xl font-bold text-gray-700">{{ post.title }}</h2>
                    <h3 class="text-xl font-medium text-gray-500">By {% if post.author %}{{ post.author }}{% else %}eluciDATA{% endif %}</h3>
                </header>
     
                <div class="content mt-4">
                    {{ post.content }}
                </div>
                <div class="flex justify-center pb-16">
                    {% if post.notebook %}
                        <a href="{{ post.notebook }}" class="mt-4 text-white bg-gradient-to-br from-purple-500 to-blue-400 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-3xl text-lg px-6 py-3">Access notebook</a>
                    {% endif %}
                </div>
            </article>
            {% endfor %}
        </div>
    </section>
</main>
