<main class="mt-16">
    <section class="header-and-searchbar">
        <div class="flex flex-col md:justify-between">
          <h1 class="text-5xl font-bold text-gray-700 m-4 pt-16 text-center" id="starterKitTitle"></h1>
          <h3 class="text-3xl font-medium text-gray-700 m-4 text-center" id="starterKitAuthor">By </h3>
          <hr class="h-1 my-8 m-20 bg-gray-500 border-0 ">
        </div>
    </section>


    <section>
        <h2 class="mb-4 font-bold text-3xl text-gray-700 mx-20"> Starter kit topics</h2>
        <ul class="list-disc pl-4 mb-8 mx-20 text-2xl">
           
            <li class="mb-2">
                <a href="{{ site.baseurl }}{{ post.url }}" class="text-blue-500 hover:underline"> Description</a>
            </li>

            <li class="mb-2">
                <a href="{{ site.baseurl }}{{ post.url }}" class="text-blue-500 hover:underline"> Business Goal</a>
            </li>
            
            <li class="mb-2">
                <a href="{{ site.baseurl }}{{ post.url }}" class="text-blue-500 hover:underline"> Application Context</a>
            </li>

            <li class="mb-2">
                <a href="{{ site.baseurl }}{{ post.url }}" class="text-blue-500 hover:underline"> Data Requirements</a>
            </li>

            <li class="mb-2">
                <a href="{{ site.baseurl }}{{ post.url }}" class="text-blue-500 hover:underline"> Pronto Dataset</a>
            </li>

            <li class="mb-2">
                <a href="{{ site.baseurl }}{{ post.url }}" class="text-blue-500 hover:underline"> Data Exploration</a>
            </li>

            <li class="mb-2">
                <a href="{{ site.baseurl }}{{ post.url }}" class="text-blue-500 hover:underline"> Conclusion</a>
            </li>
            </ul> 

        <hr class="h-1 my-8 m-20 bg-gray-500 border-0 ">
        <h2 class="mb-4 font-bold text-3xl text-gray-700 mx-20 text-center"> Interactive Notebook</h2>
        <div class="flex justify-center pb-16">
            <a id="starterKitNotebook" href="#" class="mt-4 text-white bg-gradient-to-br from-purple-500 to-blue-400 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-3xl text-lg px-6 py-3">Get Started</a>
          </div>
    </section>

    <script>
        const urlParams = new URLSearchParams(window.location.search);
        const title = urlParams.get('title');
        const author = urlParams.get('author');
        const notebook = urlParams.get('notebook');
    
        document.getElementById('starterKitTitle').innerText = title;
        document.getElementById('starterKitAuthor').innerText = `By ${author}`;
        document.getElementById('starterKitNotebook').href = notebook;
    </script>
</main>

