---
layout: default
---


<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}" class="scroll-smooth">
<body class="font-[Poppins] bg-gradient-to-br from-gray-50 via-sky-200 to-blue-300 min-h-screen">

<div class="mx-auto px-12 lg:px-60 xl:px-96 pt-32">
    <h1 class="font-bold flex justify-center text-4xl pt-16 m-4 text-gray-700">{{ page.title }}</h1>
    <div class="flex justify-between pt-8 p-8">
        <!-- Left side -->
        <div class="flex items-center space-x-4">
            <!-- Dummy image -->
            <div class="w-12 h-12 flex items-center justify-center border border-gray-300 rounded-full">
                <img src="src/assets/author-icon.png" alt="Author face image" class="w-10 h-10 rounded-full">
            </div>
            
            <!-- Author name and post date -->
            <div class="text-sm">
                <div class="font-semibold">{{ page.author }}</div>
                <div class="text-gray-500">{{ page.date | date_to_string }}</div>
            </div>
        </div>
        <!-- Right side -->
        <div class="flex items-center space-x-4">
            <!-- Twitter sharing icon -->
            <a href="https://twitter.com/intent/tweet?url={{ page.url | url_encode }}" target="_blank" rel="noopener noreferrer" class="w-8 h-8 flex items-center justify-center bg-blue-500 rounded-full">
                <i class="fab fa-twitter text-white"></i>
            </a>
            <!-- Facebook sharing icon -->
            <a href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | url_encode }}" target="_blank" rel="noopener noreferrer" class="w-8 h-8 flex items-center justify-center bg-blue-800 rounded-full">
                <i class="fab fa-facebook-f text-white"></i>
            </a>
            <!-- Link icon (copy link) -->
            <button onclick="copyToClipboard('{{ page.url }}')" class="w-8 h-8 flex items-center justify-center bg-gray-300 rounded-full cursor-pointer">
                <i class="fas fa-link"></i>
            </button>
        </div>        
    </div>

    <!-- Content section -->
    <div class="p-8">
        <img src="{{ page.image }}" alt="{{ page.title }} - Featured Image" class="rounded-xl shadow-lg mb-8">
        <a href="{{ page.image }}" target="_blank" class="text-center text-blue-600 text-md font-medium pb-8 block hover:underline">Image Link</a>
         <div class="text-lg leading-relaxed mb-8">
            {{ content }}
        </div>
        <hr class="h-0.5 my-8 bg-gray-500 border-0">
    
        <p class="mb-4 font-semibold italic text-xl text-gray-700">Let us know what you think about this article. Submit a letter to the editor at
        <a href="mailto:{{ page.author | replace: ' ', '' | downcase }}@elucidata.be">{{ page.author | replace: ' ', '' | downcase }}@elucidata.be</a>.</p>

        <hr class="h-0.5 my-8 bg-gray-500 border-0">
        <h2 class="mb-4 font-bold text-3xl text-gray-700">You Might Also Like …</h2>
        <ul class="list-disc pl-4 mb-8">
        {% for post in site.posts limit:5 %}
        <li class="mb-2">
            <a href="{{ site.baseurl }}{{ post.url }}" class="text-blue-500 hover:underline">{{ post.title }}</a>
        </li>
        {% endfor %}
        </ul> 

        <hr class="h-0.5 my-8 bg-gray-500 border-0">

        <div class="mb-8">
            <h2 class="font-bold text-3xl mb-4 text-gray-700">Categories</h2>
            <ul class="flex flex-wrap text-center justify-start">
                {% assign all_categories = site.posts | map: 'categories' | flatten | uniq %}
                {% for category in all_categories %}
                    <li class="mr-4 mb-2 font-normal text-xl text-gray-700">{{ category }}</li>
                {% endfor %}
            </ul>
        </div>
        <hr class="h-px my-8 bg-gray-400 border-0">
    </div>
</div>
    
    <script>
        function copyToClipboard(text) {
        const textarea = document.createElement('textarea');
        textarea.value = text;
        textarea.setAttribute('readonly', '');
        textarea.style.position = 'absolute';
        textarea.style.left = '-9999px';
        document.body.appendChild(textarea);
        textarea.select();
        document.execCommand('copy');
        document.body.removeChild(textarea);
        }
    </script>
</body>
</html>
