---
layout: default
---

{% include breadcrumbs.html %}

{%- include scrolltotop.html -%}

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}" class="scroll-smooth">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }} / src/styles/styles.css">
</head>
<body class="font-[Poppins] bg-gradient-to-br from-gray-50 via-sky-200 to-blue-300 min-h-screen">
    <div class="mt-16 lg:px-30 xl:px-48">
        <h1 class="font-bold flex justify-center text-4xl pt-16 m-4 text-gray-700">{{ page.title }}</h1>
        <img src="{{ page.image }}" alt="{{ page.title }} - Featured Image" class="w-full h-72 object-cover rounded-2xl" />
        <div class="flex justify-between pt-8 p-8">
            <!-- Left side -->
            <div class="flex items-center space-x-4">
                <!-- Dummy image -->
                <div class="w-12 h-12 flex items-center justify-center border border-gray-300 rounded-full">
                    <img src="{{ site.baseurl }}/src/assets/group_photos/eluciDATA.jpg" alt="Author face image" class="w-10 h-10 rounded-full">
                </div>

                <!-- Author name and post date -->
                <div class="text-sm">
                    <div class="font-semibold">Written by
                        {{ page.author }} (copy email
                            <div class="copy-container">
                                <i class="fas fa-clipboard copy-icon" onclick="copyToClipboard('elucidatalab@sirris.be', 'copyMessage-1')"></i>
                                <div class="copy-message" id="copyMessage-1">Copied to clipboard!</div>
                            </div>)
                    </div>
                    <div class="text-gray-500">On {{ page.date | date_to_string }}</div>
                    {% if page.permanent_url %}
                        <a href="{{ page.permanent_url }}" target="_blank" class="text-blue-600 underline">Permanent link</a>
                    {% endif %}
                    <!-- <div class="copy-container">
                        <i class="fas fa-clipboard copy-icon" onclick="copyToClipboard('email@example.com', 'copyMessage-1')"></i>
                        <div class="copy-message" id="copyMessage-1">Copied to clipboard!</div>
                    </div> -->
                </div>
            </div>
            <!-- Right side -->
            <div class="flex items-center space-x-4">
                <!-- Twitter sharing icon -->
                <a href="https://twitter.com/intent/tweet?url={{ site.url }}{{ page.url | url_encode }}" target="_blank" rel="noopener noreferrer" class="w-8 h-8 flex items-center justify-center bg-blue-500 rounded-full">
                    <i class="fab fa-twitter text-white"></i>
                </a>
                <!-- Facebook sharing icon -->
                <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url | url_encode }}" target="_blank" rel="noopener noreferrer" class="w-8 h-8 flex items-center justify-center bg-blue-800 rounded-full">
                    <i class="fab fa-facebook-f text-white"></i>
                </a>
                <!-- Link icon (copy link) -->
                <button onclick="copyToClipboard('{{ site.url }}{{ page.url }}')" class="w-8 h-8 flex items-center justify-center bg-gray-300 rounded-full cursor-pointer">
                    <i class="fas fa-link"></i>
                </button>
            </div>
        </div>
        <section class="flex flex-col md:flex-row p-8">
            {% capture html_content %}
                {{ content | markdownify}}
            {% endcapture %}
            <!-- <div class="content mt-4">
                {{ content | slice: 0, 100 }}
            </div> -->
            {% assign content_with_ids = html_content | add_classes_to_headers %}
            <!-- Table of Contents -->
            <div class="md:w-1/4 p-4">
                <h2 class="mb-4 font-bold text-3xl text-gray-700">Table of Contents</h2>
                {{ content_with_ids | generate_toc }}
                {% capture access_notebook %}
                    <div class="flex justify-center pb-16">
                      {% if page.notebook %}
                        <a href="{{ page.notebook }}" target="_blank" class="mt-4 text-white bg-gradient-to-br from-purple-500 to-blue-400 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-3xl text-lg px-6 py-3 flex flex-col items-center">
                          <span>Access notebook</span>
                          <div class="flex items-center mt-1">
                            <img src="../src/assets/colab_favicon.png" alt="Icon" class="w-16 h-8 mr-1">
                            <span class="icon"><i class="fas fa-external-link-alt"></i></span>
                          </div>
                        </a>
                      {% endif %}
                    </div>
                {% endcapture %}
                {{ access_notebook }}

            </div>

            <!-- Content section -->
            <div class="md:w-3/4 p-4 lg:px-4">
                <article class="mb-16 flex flex-col space-y-4 px-8 bg-slate-50 rounded-lg mt-16 p-8" id="{{ post.title }}">
                    <!-- <header class="mb-4">
                        <h2 class="text-3xl font-bold text-gray-700">{{ page.title }}</h2>
                        <h3 class="text-xl font-medium text-gray-500">By {% if page.author %}{{ page.author }}{% else %}eluciDATA{% endif %}</h3>
                    </header> -->

                    <div class="content mt-4">
                        {{ content_with_ids }}
                    </div>
                    {{ access_notebook }}
                </article>
            </div>
        </section>
    </div>

    <script>
        function copyToClipboard(text) {
            const dummy = document.createElement('textarea');
            document.body.appendChild(dummy);
            dummy.value = text;
            dummy.select();
            document.execCommand('copy');
            document.body.removeChild(dummy);

            const messageElement = document.getElementById('copy-message');
            messageElement.classList.remove('hidden');
            setTimeout(() => {
                messageElement.classList.add('hidden');
            }, 2000); // Hide the message after 2 seconds
        }
    </script>
</body>
</html>
